@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
/*Global CSS*/
*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
}
.container{
	width: 1140px;
}
/*Header Section Start*/
header{
    padding: 20px;
    background: #1f1f23;
    box-shadow: 0 0 15px #000000;
    z-index: 1;
    position: sticky;
    overflow: hidden;
    top: 0;
}
/*Menu*/
nav{
    text-align: center;
    text-transform: uppercase;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 7px 14px;
    vertical-align: middle;
    margin-right: 10px;
}
.right-li::after , .left-li::after{
	content: "";
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: #6dbd6d;
	position: absolute;
	transform-origin: center;
	transform: scaleX(0);
	transition: .5s ease all;
}
.right-li:hover::after , .left-li:hover::after{
	transform: scaleX(1);
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
/*Menu-Animation*/
.right-li{
	transform: translateX(-600px);
	animation: anim 1.5s forwards;
}
.right-li:nth-child(2){
	animation-delay: .3s;
}
.right-li:nth-child(1){
	animation-delay: .6s;
}
.left-li{
	transform: translateX(600px);
	animation: anim 1.5s forwards;
}
.left-li:nth-child(6){
	animation-delay: .3s;
}
.left-li:nth-child(7){
	animation-delay: .6s;
}
@keyframes anim {
	from{}
	to{transform: translateX(00px);}
}
nav img{
	width: 100px;
	opacity: 0;
	animation: anims 3s forwards;
}
@keyframes anims {
	from{ opacity: 0; }
	to{opacity: 1; }
}
/*Header Section End*/
/*Form Section Start*/
.form{
	background: url(../img/frm-bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 60px 20px;
	overflow: hidden;
}
/*Left Side Content*/
.left-content{
    width: 50%;
    float: left;
    color: white;
}
.left-content h1{
	font-size: 41px;
	font-weight: 400;
	margin: 180px 0 10px;
}
.left-content span{
	color: #6dbd6d;
}
.left-content > p{
	padding-bottom: 10px;
}
.check-item p {
	font-size: 12px;
	text-transform: capitalize;
}
.check-item .far{
	float: left;
	margin-right: 5px;
}
.check-item p{
	float: left;
}
/*Form box*/
.box{
	height: 503px;
    width: 33%;
    background: rgba(0, 0, 0, 0.34);
    float: right;
    border-radius: 9px;
    margin: 50px 0;
    transition: .5s ease all;
    color: #fff;
    text-align: center;
}
.box:hover{
	background: #343a40;
}
.user{
    max-width: 87px;
    border: 3px solid #6dbd6d;
    border-radius: 50%;
    transform: translateY(50%);
    opacity: 0;
    display: block;
    transition: .5s ease all;
    background: #6dbd6d;
}
.box:hover .user{
	transform: translateY(-50%);
	opacity: 1;
}
.box h2 {
    font-size: 30px;
    font-weight: 400;
    margin: -18px 0 10px;
}

.box p {
    font-size: 14px;
    padding-bottom: 26px;
    text-transform: capitalize;
}
/*Global Button*/
.btn{
    margin: 15px 0 0;
    padding: 10px 18px;
    background: #6dbd6d;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    transition: .5s ease all;
}
.btn-one:hover{
	color: #47535c;
	cursor: pointer;
}
.form-input{
	color: #fff;
	vertical-align: middle;
	max-width: 92%;
	overflow: hidden;
}
.form-input > .fas{
	font-size: 20px;
	margin-left: 5px;
}
.input-logo{
	float: left;
	width: 13%;
	background: transparent;
	margin: 5px 4px 5px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	color: #6dbd6d;
}
.form-control{
	width: 80%;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 10px 0 10px 5px;
    margin: 6px 0;
    border-radius: 8px;
    float: left;
    color: #fff;
}
.option{
	color: black !important;
}
.form-control:focus{
	outline: none;
}
.form-input:hover .input-logo{
	background: #6dbd6d;
	color: #343a40;
}
.btn-reg{
	transform: translateY(-50px);
	opacity: 0;
	width: 100%;
    border-radius: 5px;
    border-bottom: 3px solid #447b44;
    background: #529252;
    margin-top: 25px;
}
.box:hover .btn-reg{
	transform: translateY(0px);
	opacity: 1;
}
.btn-reg:hover{
	cursor: pointer;
	color: #343a40;
}
/*Form Section End*/
